src/META-INF/wsdl/178.128.148.167_8080/DbInterface/DbInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://knowledgemanager.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://knowledgemanager.mycompany.com/" name="DbInterface">
<types>
<xsd:schema>
<xsd:import namespace="http://knowledgemanager.mycompany.com/" schemaLocation="http://178.128.148.167:8080/DbInterface/DbInterface?xsd=1"/>
</xsd:schema>
</types>
<message name="loadArticle">
<part name="parameters" element="tns:loadArticle"/>
</message>
<message name="loadArticleResponse">
<part name="parameters" element="tns:loadArticleResponse"/>
</message>
<message name="saveArticle">
<part name="parameters" element="tns:saveArticle"/>
</message>
<message name="saveArticleResponse">
<part name="parameters" element="tns:saveArticleResponse"/>
</message>
<message name="newArticle">
<part name="parameters" element="tns:newArticle"/>
</message>
<message name="newArticleResponse">
<part name="parameters" element="tns:newArticleResponse"/>
</message>
<portType name="DbInterface">
<operation name="loadArticle">
<input wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/loadArticleRequest" message="tns:loadArticle"/>
<output wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/loadArticleResponse" message="tns:loadArticleResponse"/>
</operation>
<operation name="saveArticle">
<input wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/saveArticleRequest" message="tns:saveArticle"/>
<output wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/saveArticleResponse" message="tns:saveArticleResponse"/>
</operation>
<operation name="newArticle">
<input wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/newArticleRequest" message="tns:newArticle"/>
<output wsam:Action="http://knowledgemanager.mycompany.com/DbInterface/newArticleResponse" message="tns:newArticleResponse"/>
</operation>
</portType>
<binding name="DbInterfacePortBinding" type="tns:DbInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loadArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DbInterface">
<port name="DbInterfacePort" binding="tns:DbInterfacePortBinding">
<soap:address location="http://178.128.148.167:8080/DbInterface/DbInterface"/>
</port>
</service>
</definitions>